<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="users">
        <h3>{{oneUser.firstName}}</h3>
        <h3>{{oneUser.lastName}}</h3>
        <h3>{{oneUser.email}}</h3>
        <h3>{{oneUser.password}}</h3>
        <h3>{{oneUser.age}}</h3>
        <h3>{{oneUser.city}}</h3>
    </div>



</body>
</html>